<!DOCTYPE html>
<html>
<body>

  <center>
    <h1>Terms and Conditions</h1>
    </center>
    <p>Please read and agree to the following <a href="link_to_your_terms_and_conditions_page.html">terms and conditions</a>:</p>
    PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS
APPLICATION. BY USING THIS, YOU OR THE ENTITY YOU ARE AUTHORIZED TO REPRESENT,
SIGNIFY YOUR AGREEMENT TO THESE TERMS AND CONDITIONS OF USE. YOU MUST AGREE
TO THESE TERMS AND CONDITIONS IN ORDER TO USE THIS APPLICATION. PLEASE READ THIS
DOCUMENT CAREFULLY. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF
THIS AGREEMENT, PLEASE DO NOT USE THIS APPLICATION!
THE TERMS AND CONDITIONS WILL ALSO APPLY TO THE USE OF THE WEBSITE, INTERNET
APPLICATON, MOBILE APPLICATION AND ANY OTHER ITEMS PROVIDED TO YOU BY FINNOVUS
TECHNOLOGIES PRIVATE LIMITED COLLECTIVELY REFERRED AS “SOFTWARE PLATFORM”.
Finnovus Technologies Private Limited (Finnovus Technologies) may revise and update these
Terms of Use at any time. Please periodically review these Terms of Use posted at its Software
Platform.
Section 1: Privacy Policy
Finnovus Technologies’ position on the privacy of its customers and visitors to Software
Platform can be found in the Finnovus Privacy Policy.
Section 2: Use of Content - Copyright
Upon acceptance of these Terms and Conditions, Finnovus Technologies authorizes you, to
view the material on Software Platform solely for your personal, informational use. Logo,
graphic, sound or image from Finnovus website may not be copied or retransmitted unless
expressly permitted by Finnovus.
Except to the extent required by law or as expressly provided herein, none of the Content or
Software Platform may be reverse-engineered, disassembled, decompiled, reproduced,
translated into any language or computer language, re-transmitted in any form or by any
means (electronic, mechanical, photo-reproduction, recordation or otherwise), resold or
redistributed without the prior written consent of Finnovus Technologies. You may not sell or
modify the Content or reproduce, display, publicly perform, distribute or otherwise use the
Content in any way for any public or commercial purpose. Without limitation of the foregoing,
unless independently licensed by Finnovus Technologies, use of the Content on any other
website or in a networked computer environment for any purpose is prohibited.
Content and software platform is subject to change without notice at the editorial discretion
of Finnovus Technologies. If you violate any of these Terms and Conditions, your permission
to use the Content and software platform automatically terminates and you must
immediately destroy any copies you have made of any portion of the Content and software
platform.
Section 3: Access to Finnovus Technology Systems and Information
Finnovus Technologies provide access to certain Software Platform for various purposes.
Subject to compliance with each of the terms of this Agreement, Finnovus Technologies
agrees to permit you to access the Software Platform for the sole purpose for which Finnovus
Technologies authorizes you to use the system.
You may not use or access the Software Platform in any way which, in Finnovus Technologies’
judgment, adversely affects the performance or function of Software Platform or interferes
with the ability of authorized parties to access the Systems or the website. Without limitation
of the foregoing, you may not use automatic inquiry engines in any form to interact with
Software Platform or to obtain Information.
You may not mask or misrepresent your identity when using Finnovus Technologies’ Software
Platform. You may not gain access, or attempt to gain access, by any means, to any computer
system or database, other than Software Platform to which you are expressly permitted
access. You shall use or disclose the Information only in connection with the express purpose
applicable to you.
Finnovus Technologies may terminate, update, alter or supplement any or all of Software
Platform and services and Information available from the it. Finnovus Technologies may
assess charges for any or all of such items in the future, in its sole discretion, by providing
notice of such charges to you and restricting access to Software Platform and Information
absent your agreement to pay such charges. All right, title and interest in and to Software
Platform and the Information is and shall remain with Finnovus Technologies.
If Finnovus Technologies in its sole judgment believes either (i) that Software Platform or
Information are being used for a purpose not approved by Finnovus Technologies or in
violation of any law, regulation or ruling, (ii) that Finnovus Technologies' or any third party's
rights or interests are jeopardized or potentially exposed to liability or damage, or (iii) that
you are in default under this Agreement, Finnovus Technologies may immediately terminate
your access to Software Platform.
Section 4: Limitation of Finnovus Technologies' Liability - Disclaimer of Responsibility for
Damages
Finnovus Technologies makes no representations about the results to be obtained from using
Software Platform. The use of same is at your own risk.
FINNOVUS TECHNOLOGIES USES MODERN HTTPS PROTOCOLS TO ENSURE SECURE
TRANSMISSION OF DATA FROM YOUR COMPUTER TO SOFTWARE PLATFORMS. HOWEVER,
YOU ARE RESPONSIBLE FOR ENSURING SAFE AND SECURE PRACTICES TO KEEP THE LOGIN
INFORMATION AND OTHER DATA OUT OF THE REACH OF MALICIOUS HUMAN OR
AUTOMATED AGENTS. WHEN USING SOFTWARE PLATFORM, INFORMATION AND CONTENT
WILL BE TRANSMITTED OVER A MEDIUM WHICH IS BEYOND THE CONTROL AND
JURISDICTION OF FINNOVUS TECHNOLOGIES AND ITS SUPPLIERS. ACCORDINGLY,
FINNOVUS TECHNOLOGIES ASSUMES NO LIABILITY FOR OR RELATING TO THE DELAY,
FAILURE, INTERRUPTION OR CORRUPTION OF ANY CONTENT OR INFORMATION.
ON FINNOVUS’S SOFTWARE PLATFORM THE INFORMATION AND THE CONTENT ARE
PROVIDED ON AN "AS IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. FINNOVUS
TECHNOLOGIES, ITS LICENSORS, AND ITS SUPPLIERS, TO THE FULLEST EXTENT PERMITTED BY
LAW, DISCLAIM ALL WARRANTIES, EITHER EXPRESSED OR IMPLIED, STATUTORY OR
OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR
PARTICULAR PURPOSE. FINNOVUS, ITS LICENSORS, AND ITS SUPPLIERS MAKE NO
REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS,
CURRENTNESS OR TIMELINESS OF THE CONTENT, INFORMATION, SOFTWARE, TEXT,
GRAPHICS, LINKS, OR COMMUNICATIONS PROVIDED ON OR THROUGH THE USE OF
SOFTWARE PLATFORM.
IN NO EVENT SHALL FINNOVUS TECHNOLOGIES, ITS LICENSORS, SUPPLIERS OR ANY THIRD
PARTIES MENTIONED AT FINNOVUS’S WEBSITES BE LIABLE FOR ANY DAMAGES OR PENALTIES
WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL INDIRECT, EXEMPLARY,
PUNITIVE AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM
LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE
FINNOVUS’S WEBSITES OR THE CONTENT WHETHER BASED ON WARRANTY, CONTRACT,
TORT, DELICT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT FINNOVUS
TECHNOLOGIES IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE REMEDIES STATED
FOR YOU IN THESE TERMS AND CONDITIONS ARE EXCLUSIVE AND ARE LIMITED TO THOSE
EXPRESSLY PROVIDED FOR IN THESE TERMS AND CONDITIONS.
Section 5: Links
Finnovus’ software platform may contain links to third party websites. These links are
provided solely as a convenience to you and not as an endorsement by Finnovus Technologies
of the content on such third-party websites. Finnovus Technologies is not responsible for the
content or security of the linked third-party websites and does not make any representations
regarding the content, accuracy or security of materials on such third-party websites. If you
decide to access linked third-party websites, you do so at your own discretion. Your use of
third-party websites is subject to any applicable terms and conditions of use for such sites.
Linking to any page of any of Finnovus Technologies’ websites other
than https://www.creditsiddhi.com through a plain text link is strictly prohibited in the
absence of a separate linking Agreement with Finnovus Technologies. Any website or other
device that links to https://www.creditsiddhi.com is prohibited from (a) replicating Content,
(b) using a browser or border environment around the Content, (c) implying in any fashion
that Finnovus Technologies is endorsing it or its products, (d) misrepresenting any state of
facts, including its relationship with Finnovus Technologies, (e) presenting false information
about Finnovus Technologies’ products or services, and (f) using any Finnovus Technologies’
logo or mark without permission from Finnovus Technologies.
Section 6: Indemnity
You agree to defend, indemnify and hold Finnovus Technologies, its officers, directors,
employees, agents, licensors and suppliers, harmless from and against any claims, actions or
demands, liabilities and settlements including without limitation, reasonable legal and
accounting fees, resulting from, or alleged to result from, your use of the Content (including
Software) in a manner that violates or is alleged to violate these Terms and Conditions.
Section 7: Compliance With Law
You agree in utilizing Finnovus Technologies’ Software Platform, Information and Content,
you will do so exclusively for authorized and legal purposes consistent with these Terms and
Conditions, all applicable laws and regulations, and the rights of others.
Section 8: General
Section 9: Jurisdiction
YOU HEREBY EXPRESSLY AND IRREVOCABLY AGREE AND CONSENT THAT ANY SUIT, ACTION
OR PROCEEDING ARISING OUT OF OR RELATING TO YOUR USE OF FINNOVUS
TECHNOLOGIES’ SOFTWARE PLATFORM, INFORMATION, AND CONTENT MAY BE
INSTITUTED IN ANY STATE OR FEDERAL COURT SITTING IN THE MUMBAI, MAHARASHTRA,
INDIA AND, YOU EXPRESSLY WAIVE ANY OBJECTION THAT YOU MAY HAVE NOW OR
HEREAFTER TO THE LAYING OF THE VENUE OR TO THE JURISDICTION OF ANY SUCH SUIT,
ACTION OR PROCEEDING, AND IRREVOCABLY SUBMIT GENERALLY AND UNCONDITIONALLY
TO THE JURISDICTION OF ANY SUCH COURT IN ANY SUCH SUIT, ACTION OR PROCEEDING.
YOU AGREE THAT SERVICE OF PROCESS MAY BE MADE BY PERSONAL SERVICE OF A COPY
OF THE SUMMONS AND COMPLAINT OR OTHER LEGAL PROCESS IN ANY SUCH SUIT, ACTION
OR PROCEEDING, OR BY ANY METHOD OF SERVICE PROVICED FOR UNDER THE APPLICABLE
LAWS IN EFFECT IN THE STATE OF MAHARASHTRA. IN ANY SUCH ACTION OR PROCEEDING,
YOU AGREE TO THE EXTENT PERMITTED BY APPLICABLE LAW, THAT ANY SUCH ACTION OR
PROCEEDING SHALL BE TRIED BEFORE A COURT AND NOT BEFORE ANY ARBITRATION PANEL
AND WAIVE TO THE EXTENT PERMITTED BY APPLICABLE LAW, ANY OBJECTION THAT YOU
MAY HAVE THAT EACH ACTION OR PROCEEDING HAS BEEN BROUGHT IN AN INCONVENIENT
FORUM.
If any provision of these Terms and Conditions is found to be invalid by any court having
competent jurisdiction, the invalidity of such provision shall not affect the validity of the
remaining provisions of these Terms and Conditions, which shall remain in full force and
effect. No waiver of any of these Terms and Conditions shall be deemed a further or
continuing waiver of such term or condition or any other term or condition.
Section 10: Complete Agreement
EXCEPT AS EXPRESSLY PROVIDED IN A SEPARATE LICENSE OR OTHER AGREEMENT BETWEEN
YOU AND FINNOVUS TECHNOLOGIES, THESE TERMS AND CONDITIONS CONSTITUTE THE
ENTIRE AGREEMENT BETWEEN YOU AND FINNOVUS TECHNOLOGIES WITH RESPECT TO THE
USE OF THE SOFTWARE PLATFORM, INFORMATION AND CONTENT CONTAINED THEREIN.
Contacting Finnovus:
If you have questions about these terms and conditions, the practices of this site, or your
experience on any of our websites, you can contact:
Finnovus Technologies Private Limited
426 The Summit Bay building,
Andheri - Kurla Rd, Adjacent to Cinemax,
Chakala, Andheri East, Mumbai,
Maharashtra 400069
Email: customer.services@creditsiddhi.com
Comments, suggestions or materials sent or transmitted to Finnovus Technologies shall be
deemed to be non-confidential. Finnovus Technologies shall have no obligation of any kind
with respect to such comments, suggestions or materials and shall be free to use and
distribute them to others without limitation, including, but not limited to developing and
marketing products incorporating them.
Last Revision date: 18-Feb-2023
PRIVACY POLICY
We understand the importance of privacy to our customers and visitors to our Website. We
will not give or sell confidential or personal information about our customer to any third party
not affiliated with their transaction, except as required by law or as necessary to provide
Finnovus Technologies’ services to the customer.
As we collect and use information about visitors to our websites, we may contract with
vendors and financial institutional partners to assist us in processing that information and/or
acting on that information for the sole purpose for which the information is provided by the
customer. These vendors, partners are required to maintain the confidentiality of the
information and are restricted from using the information for any purpose other than helping
to provide Finnovus Technologies’ services to our customers.
By using the Software Platform, you expressly agree to allow Finnovus Technologies to share
your financial information (as provided by you as well as collated by Finnovus Technologies
through legal, public means) with financial institutions for the purpose of credit assessment
and loan disbursement to you. However, you acknowledge that using this Software Platform
and providing your financial and related information on the website does not imply any
guarantee of loan approval or disbursement.
When the data is shared with a financial institution, the financial institution’s respective data
privacy policies will apply to the data shared with them.
Some of the information collected by Finnovus Technologies is personal data or data which
relates to an identifiable person. Examples of personal data are names, addresses, e-mail
addresses and telephone numbers. We never sell to third parties information that could be
used to specifically identify an individual customer or group of customers. Finally, we do
provide personal and other data to government agencies as required by law or regulation.
In addition to the uses of the information described in the paragraphs above, we collect
telephone numbers and e-mail addresses in the event that we have to contact designated
parties to resolve a question or provide information.
Links to Other Sites
Finnovus Technologies’ website provides links to external sites as a convenience to the user.
The inclusion of any link does not imply Finnovus Technologies’ endorsement of the external
site company, its website, or the products and services it promotes and sells. Finnovus
Technologies is not responsible for the privacy practices or the content of such websites.
Security and Integrity of Information
We treat visitor data as data that must be protected against loss and unauthorized access.
We employ information security techniques to appropriately protect confidential information
from unauthorized access by users inside and outside the company. Access to customer
information is limited to those employees who have a legitimate business need for that
information.
Finnovus Technologies’ Internet sites, and their supporting systems, employ generally
accepted information security techniques such as firewalls, access control procedures and
cryptography to protect confidential information from unauthorized access.
Retention of Customer Information
We retain information about customers as necessary for business purposes and as required
by government regulation.
Finnovus Technologies’ Website
The following paragraphs describe our commitment to the protection of personal information
as it applies to Finnovus Technologies’ website; https://www.creditsiddhi.com.
What Information We Collect and How We Will Use It
Users can visit most areas of the Finnovus Technologies’ website without revealing who they
are or providing any information about themselves. However, some of our interactive services
require that users identify themselves in order to enable the interactive function. We may ask
users to provide some personal information in these situations.
Web Surveys
From time to time, we include survey forms on our Website asking users for contact and
demographic information (such as postal code, age or size of company). We use the responses
from the surveys to better understand our customer's needs and to create websites that
respond to their interests. Customers may opt-out of participating in follow-up surveys.
Finnovus Technologies will not disclose survey response information to companies or
individuals outside Finnovus Technologies.
Consent to Receive Promotional Material
Finnovus Technologies allows users to opt out of receiving promotional material from us. The
'opt-out' feature applies to promotional material sent to our customers as a result of their
participation in Finnovus Technologies’ programs and services. Opting-out can be
accomplished by editing the E-Mail Settings in Finnovus Technologies’ web-based services
and removing the check-mark in the box labelled, "Finnovus Technologies can inform me
about new services/opportunities".
IP Addresses
Finnovus Technologies’ websites collect IP addresses for system administration, security, and
statistical analysis purposes. An IP address is a number that is automatically assigned to a
computer whenever it is connected to the Internet. We log these addresses and analyse them
to understand where requests originate so that we can provide the most efficient service,
enhance security, ensure appropriate usage and produce traffic volume statistics.
Cookies
Cookies are small text files that a website can send to a user's browser for storage on the hard
drive. Cookies can make use of the web easier by saving status and preferences about a
website. Most browsers are initially set to accept cookies but users can change the setting to
refuse cookies or to be alerted when cookies are being sent.
We use cookies to keep track of customer status as a logged-on user of Finnovus
Technologies’ web-based services. Although acceptance of cookies will not interfere with the
ability to interact with most of our website, users will need to accept cookies in order to
remember their user name for use with Finnovus Technologies’ web-based services. The
cookies are renewed every time a user logs into.
Assent
Your continued use of Finnovus Technologies’ website signify your assent to the Finnovus
Technologies’ Privacy Policy. We reserve the right, at our discretion, to modify, add, or
remove portions of this policy at any time. Please check this page periodically for changes.
Contacting Finnovus Technologies
If you have questions about this privacy statement, the practices of this site, or your
experience on any of Finnovus Technologies’ websites, you can contact:
Finnovus Technologies Private Limited.
426 The Summit Bay building,
Andheri - Kurla Rd, Adjacent to Cinemax,
Chakala, Andheri East, Mumbai,
Maharashtra 400069
Email: customer.services@creditsiddhi.com
Consent Policy
I/we here by affirm that, I/we have read all the terms & conditions regarding the Consent policy 
governing our documents and thereby affirm to accept all the terms and conditions mentioned 
and stated below in Finnovus Technologies Pvt Ltd Consent policy and grant our consent for the 
same: 
a. I/we grant Finnovus Technologies Pvt Ltd to collect, access and extract the required 
information from our Aadhaar and PAN allotted by Government of India and to make it 
available to any third party, as required for availing of our loan facility and any other 
related product(s) and/or service(s);
b. I/we agree to grant Finnovus Technologies Pvt Ltd to take all the necessary actions 
required for the purpose of authenticating, verifying and to take any other required 
action(s) with the information extracted from our Aadhaar, PAN and any/all other 
documents which have been procured from us and/or outsiders;
c. I/we agree that any/all the information and/or documents by provided/procured by 
Finnovus Technologies Pvt Ltd have our Consent and have been submitted by us/we 
voluntarily and that no objection/chaos shall be raised by us in near future against 
Finnovus Technologies Pvt Ltd regarding the same;
d. I/we agree, understand and accept that the sole and complete responsibility for any 
issues, legal suits, damages, losses, penalties, fines or liabilities (“Losses”) arising out of 
our sharing of Aadhaar, PAN and any/all Information to Finnovus Technologies Pvt Ltd 
and to their third party(s) shall not hold Finnovus Technologies Pvt Ltd , its 
representatives, employees and directors harmless for any losses arising out of such 
request(s) and/or action(s) 
e. I/we agree explicitly and fully authorize Finnovus Technologies Pvt Ltd to fetch our 
Credit report, consent to provide one time access of camera, microphone, location and 
other such features on our mobile phone for the purpose of on-boarding / KYC 
requirement and any/all other documents to make it available to any third party(s) as 
may be required for availing loan facility and any other related product(s) and/or 
service(s).
Contacting Finnovus Technologies
If you have questions about this privacy statement, the practices of this site, or your
experience on any of Finnovus Technologies’ websites, you can contact:
Finnovus Technologies Private Limited.
426 The Summit Bay building,
Andheri - Kurla Rd, Adjacent to Cinemax,
Chakala, Andheri East, Mumbai,
Maharashtra 400069
Email: customer.services@creditsiddhi.com
<center>
    <form>
        <button type="button" onclick="redirectToSignup()">Agree</button>
    </form>
</center>
    <script>
        function redirectToSignup() {
			window.location.href = "/signup.html";
        }
    </script>
</body>
</html>
